---
layout: default
---
<div class="page-content">
  <div class="mdl-grid">

    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
      <a class="mdl-card__title" href="#" style="color: rgba(0, 0, 0, 0.87);">
        <h2 class="mdl-card__title-text">Cele Stowarzyszenia</h2>
      </a>
      <div class="mdl-card__supporting-text">
        <p>Idea powstania Stowarzyszenia Przyjaciół Szkoły Muzycznej w Świdnicy zrodziła się w lutym 2016 r. podczas jednego z konkursów dla uczniów szkół muzycznych – ogólnokształcących i państwowych. W tych pierwszych dzieci obok zwykłego kształcenia zdobywają wykształcenie muzyczne, a zajęcia z tym związane przeplatają się z nauką zwykłych przedmiotów. Do tych drugich dzieci uczęszczają po lekcjach, w swoim czasie wolnym. W konkursach zdecydowanie lepiej prezentują się uczniowie szkół ogólnokształcących, które pozwalają dzieciom i ich rodzicom na zaoszczędzenie czasu na przejazdy i zainwestowanie go w ćwiczenia i rozwijanie innych umiejętności.</p>
        <p>Stowarzyszenie Przyjaciół Szkoły Muzycznej w Świdnicy powstało, by wspierać działalność statutową Państwowej Szkoły Muzycznej I stopnia im. Ludomira Różyckiego w Świdnicy w różnorodnych zadaniach nakierowanych na wszechstronny rozwój uczniów. W ramach swej działalności pragniemy inicjować i wspierać imprezy oraz zajęcia edukacyjno-kulturalne organizowane w szkole, a przez to podtrzymywać i upowszechniać tradycje narodowe, pielęgnować polskie wartości, a także rozwijać świadomość narodową, obywatelską i kulturową. Naszym celem jest również wspieranie uczniów utalentowanych i odnoszących sukcesy artystyczne oraz pozyskiwanie środków na zakup wyposażenia niezbędnego do prowadzenia zajęć dydaktycznych. Ponad wszystko zależy nam na promowaniu naszej szkoły w środowisku lokalnym.</p>
        <p>Aktualnie Stowarzyszenie Przyjaciół Szkoły Muzycznej w Świdnicy dąży do stworzenia Ogólnokształcącej Szkoły Muzycznej I i II stopnia w Świdnicy. Szkoła w takim kształcie będzie umożliwiała jednoczesne zdobywanie podstawowego oraz muzycznego wykształcenia uczniom na poziomie szkoły podstawowej i średniej. Nasi uczniowie nie będą musieli spędzać wielu popołudniowych godzin w murach szkoły, by zdobyć umiejętność gry na instrumencie i z pewnością będą mogli konkurować z wieloma kolegami i koleżankami z innych placówek podczas rywalizacji konkursowych.</p>
      </div>
    </div>

  {% assign i = 0 %}
  {% for page in site.pages %}
  {% if page.title %}
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop mdl-cell--4-col-tablet  mdl-cell--12-col-phone">
      <a class="mdl-card__title" {% if page.image %} style="background: url('{{ page.image }}') center/cover;" {% endif %} href="{{ page.url | prepend: site.baseurl }}">
        <h2 class="mdl-card__title-text">{{ page.title }}</h2>
      </a>
      {% if page.excerpt %}
      <div class="mdl-card__supporting-text">
        <p>{{ page.excerpt }}</p>
      </div>
      {% endif %}
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ page.url | prepend: site.baseurl }}">
          Czytaj dalej
        </a>
      </div>
    </div>
    {% capture i %}{{ i | plus:1 }}{% endcapture %}
  {% endif %}
  {% if i == "2" %}
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop mdl-cell--4-col-tablet  mdl-cell--12-col-phone">
      <div class="fb-page" data-href="https://www.facebook.com/muzyczna.org" data-tabs="timeline" data-width="378" data-height="229" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/muzyczna.org" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/muzyczna.org">Stowarzyszenie Przyjaciele Szkoły Muzycznej w Świdnicy</a></blockquote></div>
    </div>
    {% capture i %}{{ i | plus:1 }}{% endcapture %}
  {% endif %}
  {% endfor %}

  </div>
</div>
