---
layout: default
---
<div class="page-content">
  <div class="mdl-grid">

  {% for page in site.pages %}
  {% if page.title %}
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop mdl-cell--4-col-tablet  mdl-cell--12-col-phone">
      <a class="mdl-card__title" {% if page.image %} style="background: url('{{ page.image }}') center/cover;" {% endif %} href="{{ page.url | prepend: site.baseurl }}">
        <h2 class="mdl-card__title-text">{{ page.title }}</h2>
      </a>
      {% if page.excerpt %}
      <div class="mdl-card__supporting-text">
        <p>{{ page.excerpt }}</p>
      </div>
      {% endif %}
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ page.url | prepend: site.baseurl }}">
          Czytaj dalej
        </a>
      </div>
    </div>
  {% endif %}
  {% endfor %}

  </div>
</div>
