  <header class="mdl-layout__header">

    <div class="mdl-layout__header-row">
      <a href="/" class="mdl-layout-title page-title"><span>{{ site.title }}</span></a>

      <div class="mdl-layout-spacer"></div>

      <div class="page-title">
        Kontakt: <a href="mailto:info@muzyczna.org">info@muzyczna.org</a>, tel: <a href="tel:+48503171452">+48 503 171 452</a>
      </div>
    </div>
  </header>

  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Menu</span>
    <nav class="mdl-navigation">
    {% for page in site.pages %}
      {% if page.title %}
      <a class="mdl-navigation__link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      {% endif %}
    {% endfor %}
    </nav>

  </div>

